* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

header {
    position: sticky;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
}

nav {
    position: relative;
    top: 0;
    width: 70%;
    background-color: #ffffff;
    margin: auto;
    z-index: 10;
}

nav ul h2 {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    font-size: 1.3em;
}

#outnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

#outnav li a {
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

.home-button {
    padding: 40px 15px;
    text-decoration: none;
    color: #000000;
}

.home-button h2:hover {
    color: #d2d2d2;
}

#outnav li a:hover, #innav li a:hover {
    color: #d2d2d2;
}

#innav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 400px;
    width: auto;
    position: fixed;
}

.innav-text {
    padding: 40px 10px;
    font-size: 0.65em;
}

.web-pages-list > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-socials .fa-brands {
    color: #000000;
    font-size: 0.5em; /* Updated from 'size' to 'font-size' */
    transition: color 0.3s ease;
}

.navbar-socials .fa-brands:hover {
    color: #d2d2d2;
    transform: scale(1.3);
}

.more-dropdown-list {
    cursor: pointer;
    color: #000000;
}

.more-dropdown-list:hover {
    color: #d2d2d2;
    transition: 0.3s ease;
}

.more-dropdown-list:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 2em;
    left: 0;
    color: #d2d2d2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 5px #44444433;
    z-index: 2;
    border-radius: 0;
    padding-top: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
    color: #d2d2d2;
}

.content-container {
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 100%;
}

footer {
    flex-shrink: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

footer li a {
    color: #000000;
    text-decoration: none;
}

.location {
    text-align: center;
}

.country-location img {
    margin-right: 0.5rem;
    width: 17px; 
 }

@media (max-width: 600px) {
    nav {
        width: 100%;
    }
    
    #outnav, #innav {
        flex-direction: column;
        padding: 1rem;
    }
    
    #outnav li:first-child, #outnav li a {
        font-size: smaller;
    }
    
    #innav {
        margin-left: 0;
        position: static;
    }

    .content-container {
        width: 100%;
    }

    footer {
        position: static;
    }
}
