#innav {
display:flex;
list-style:none;
justify-content:center;
flex-grow:1;
transform:translateX(200px);
}

.hamburger-menu {
display:none;

}

#innav .more-dropdown-list {
position:relative;
}

#innav a:hover,.more-dropdown-list:hover {
color:#d2d2d2;
}

#innav li a {
text-decoration:none;
color:#000;
font-weight:400;
transition:.3s ease;
padding:1em 1.5em;
}

#outnav {
display:flex;
justify-content:space-between;
align-items:center;
width:100%;
position:static;
list-style:none;
padding:0;
}

#outnav li a {
white-space:nowrap;
text-emphasis:none;
text-decoration:none;
color:#000;
}

* {
box-sizing:border-box;
font-family:Geneva, Tahoma, sans-serif;
margin:0;
padding:0;
}

.content-container {
background-color:#000;
width:68%;
height:100%;
}

.copyright-info {
margin-left:1em;
}

.country-location {
display:flex;
margin-right:1em;
}

.country-location img {
margin-right:.5rem;
width:17px;
}

.dropdown-content {
display:none;
position:absolute;
background-color:#f9f9f9;
border:1px solid #00000026;
min-width:156px;
box-shadow:0 2px 5px #4444444d;
z-index:100;
top:100%;
left:0;
}

.dropdown-content a {
color:#000;
text-decoration:none;
display:block;
transition:color .3s;
font-size:.65rem;
}

.dropdown-content.active {
display:block;
position:auto;
}

.footer-container > .footer-details {
display:flex;
flex-direction:row;
color:#7e7e7e;
align-items:center;
justify-content:space-between;
width:68%;
margin:auto;
}

.footer-socials {
display:flex;
justify-content:center;
gap:1rem;
list-style:none;
align-items:center;
position:static;
}

.footer-socials .fa-brands {
color:#ffffff;
size:2.5rem;
}

.footer-socials .fa-brands:hover {
color:#ffffff;
transition:.5s ease-in-out;
transform:scale(1.3);
}

.home-button {
text-decoration:none;
color:#000;
list-style:none;
margin:left;
padding:40px 0;
}

.home-button h2:hover {
color:#d2d2d2;
display:flex;
}

.more-dropdown-list {
cursor:pointer;
display:relative;
color:#000;
}

.nav-container {
display:flex;
justify-content:space-between;
align-items:center;
width:100%;
padding:0 15px;
}

.navbar-socials {
justify-content:space-between;
align-items:center;
list-style:none;
display:flex;
gap:10px;
padding:0;
}

.navbar-socials .fa-brands {
color:#000;
size:3em;
transition:.3s ease;
}

.navbar-socials .fa-brands:hover {
color:#d2d2d2;
transform:scale(1.3);
}

.navbar-socials li a {
display:inline-block;
margin:0 5px;
}

.web-pages-list {
display:flex;
font-size:.69rem;
font-weight:400;
align-items:right;
}

.web-pages-list li {
display:flex;
flex-direction:column;
justify-content:center;
}

body {
display:flex;
flex-direction:column;
padding-bottom:4rem;
}

footer {
    flex-shrink: 0;
    background-color: #000000;
    color: #fff;
    width: 100%;
    position: relative; 
    top: 100%;
    padding: 1rem 0;
}

footer .footer-container {
display:flex;
justify-content:space-between;
align-items:center;
position:bottom;
background-color:#fff;
color:#7e7e7e;
padding:1rem;
}



footer .footer-container .copyright-info div,footer .footer-container .country-location p {
font-size:.8rem;
}

header {
position:sticky;
background-color:#000;
color:#fff;
text-align:center;
padding:1rem 0;
}

html,body {
height:100%;
width:100%;
margin:0;
}

main {
height:100%;
display:flex;
flex-direction:row;
justify-content:center;
flex:1 0 auto;
}

nav {
display:flex;
align-items:center;
width:68%;
background-color:#fff;
z-index:10;
margin:0 auto;
padding:0;
}

nav ul h2 {
text-decoration:none;
color:#000;
font-weight:bolder;
font-size:1.3rem;
}

@media (max-width: 600px){
#outnav {
flex-direction:column;
padding:1rem;
}

#outnav li:first-child {
min-width:0;
}

#outnav li:first-child a,#outnav li a {
font-size:smaller;
}

.footer-container {
width:50%;
}

nav {
width:50%;
position:static;
transform:none;
}
}


