* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position:sticky;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}


main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
}
    
nav {
    position: relative;
    top: 0;
    width: 50%;
    z-index: 10;
    background-color: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
}


nav ul h2 {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
}

#outnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

#outnav li a {
    white-space: nowrap;
    text-emphasis: none;
    padding: 100px 15px;
    text-decoration: none;
    color: #000000; 
}



#innav {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
    font-size: 0.75em;
    width: auto;
}

.navbar-socials {
    list-style: none;
    display: flex;
    
}

.web-pages-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
}

.web-pages-list > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
}

.web-pages-list li a {
    color: #000000;
    text-decoration: none;
    padding: 0.5em 1rem;
}


.more-dropdown-list{
    cursor: pointer;
    color: #000000;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 5px #44444433;
    z-index: 2;
    border-radius: 0;
    padding-top: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: color 0.3s;
}



.content-container{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
}

@media (max-width: 600px) {

    nav {
        width: 100%;
        position: static;
        transform: none;
    }

    #outnav {
        flex-direction: column;
        padding: 1rem;
    }



    #outnav li a {
        font-size: smaller;
    }

    .web-pages-list{
        grid-template-columns: 1fr;
        grid-gap: 0;
        gap: 0.5rem;
        justify-content: center;
        padding: 0;
    }

    .web-pages-list li {
        text-align: center; 
    }

    .more-dropdown-list{
        justify-self: center; 
    }

    .dropdown-content {
        right: 50%;
        transform: translateX(50%);
    }
}

br {
    color: black;
}

footer {
    flex-shrink: 0;
    background-color: #ffffff;
    color: #ffffff;
    padding: 1rem 0;
    width: 100%;
    position: fixed; 
    bottom: 0;
}

.copyright-info{
    text-align: left;
    color: #7e7e7e;
    position: absolute;   
    margin-left: 25%;
    justify-content: bottom;
    margin-top: 15px;
}

.footer-socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    display: flex;
    margin-left: 170px;
    position: inherit;
    padding: 0px 0px 0px;
}

.footer-socials .fa-brands {
color: #000000;
size: 2em;
transition: color 0.3s ease;

}


.location p{
    text-align: right;
    color: #7e7e7e;
    position: absolute;   
    margin-left: 67.95%;
    margin-bottom: 100px;

}




