.content-container {
    background-color: #ffffff;
    max-width: 68%;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.button-54 {
    padding: 10px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: 2px solid #fff;
    display: block;
    margin: 1rem auto;
}

.button-54:hover { background-color: #3e8e41; }

.button-54:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h2 {
    text-align: center;
    color: #000000;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.project-entry,
.collaboration-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details,
.collaboration-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 70px);
}

.project-info,
.collaboration-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-role,
.project-period,
.project-description,
.collaboration-role,
.collaboration-period,
.collaboration-description {
    margin-bottom: 0.5rem;
}

.project-logo img,
.collaboration-logo img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.project-description ul,
.collaboration-description ul {
    list-style-position: inside;
    list-style: none;
    padding-left: 0;
    text-indent: -15px;
    margin-left: 20px;
}

.education-info h3 {
    width: 45px;
}

.project-description li,
.collaboration-description li {
    margin-bottom: 0.5rem;
}

.project-entry:not(:first-child),
.collaboration-entry:not(:first-child) {
    margin-top: 1rem;
}

.co-curricular-section h2 {
}

.co-curricular-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.co-curricular-image img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.co-curricular-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 70px);
}

.co-curricular-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.co-curricular-period {
    font-style: italic;
    color: #666;
    margin-bottom: 1rem;
}

.education-section h2 {
}

.University-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.University-logo img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.University-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 70px);
}

.University-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.University-qualification {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.project-entry:not(:first-child) {
    margin-top: 1rem;
}

.skills-entry:not(:first-child) {
    margin-top: 1rem;
}

.co-curricular-entry:not(:first-child) {
    margin-top: 1rem;
}

.collaboration-entry:not(:first-child) {
    margin-top: 1rem;
}

.education-entry:not(:first-child) {
    margin-top: 1rem;
}

.cv-entry:not(:first-child) {
    margin-top: 1rem;
}

.content-container {
    padding-bottom: 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 600px) {
    .project-entry,
    .collaboration-entry {
        flex-direction: column;
        margin-top: 1rem;
    }
    
    .project-logo img,
    .collaboration-logo img {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    
    .project-info,
    .collaboration-info,
    .project-period,
    .project-role,
    .collaboration-period,
    .collaboration-role {
        text-align: center;
    }

    .co-curricular-entry,
    .University-entry {
        flex-direction: column;
    }
    
    .co-curricular-image img,
    .University-logo img {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    
    .co-curricular-info,
    .University-info {
        text-align: center;
    }
}
